@{
    ViewData["Title"] = "Главная";
}
<style>
    a.navbar-brand {
        color: #63e853;
    }
</style>

<br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div style="color: #ffffffc2;">
    <h2>О приложении</h2>

    <br />

    <p>Приложение состоит из трех частей:</p>

    <p>
        1) Создание открытого, закрытого ключа, текста для подписи и самой электронной цифровой подписи
        <br />
    </p>

    <p>
        2) Отправка открытого ключа, текста подписи и самой электронной цифровой подписи на почту корреспондента
        <br />
    </p>

    <p>
        3) Получение почтового сообщения и проверка цифровой подписи отправителя
        <br />
    </p>
</div>